*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #027585;
}
h2{
    color: #00ff9dc5;
    font-size: 10vw;
    margin-bottom: 5px;
}
/*Cabeçalho*/
header{
    display: grid;
    grid-template-columns: 80px auto 90px;
    gap: 10px;
    background-color: #ebd67d;
    padding: 10px;
}
#logo img{
    height: 80px;
}
#lema{
    text-align: center;
    margin-top: 20px;
    color: rgb(7, 185, 255);
}
#busca input{
    margin-top: 30px;
    width: 75%;
}
button img{
    width: 15px;
}
#lupa{
    width: 15px;
}
/*Barra de menu*/
nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: white;
    text-align: center;
}
nav div:hover{
    background-color: #16a06b;
    color: white;
}
nav div a:hover{
    color: white;
}
nav div{
    border-right: 2px solid #16a06b;
    border-left: 2px solid #16a06b;
    border-bottom: 3px solid #16a06b;
    border-top: 3px solid #16a06b;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav div a{
    text-decoration: none;
    color: #16a06b;
    font-size: 4vw;
    font-weight: bold;
    padding: 15px 20px;
}
/*Menu*/
#banner{
    width: 100%;
}
#banner img{
    border-radius: 20px 50px;
    box-shadow: 10px 10px 15px black;
}
.destaque{
    padding-bottom: 5px;
}
.destaque-descricao h2{
    font-size: 7vw;
}
.destaque-imagem img{
    border-radius: 30px;
}
.destaque-descricao{
    text-align: center;
    font-size: 5vw;
}
section{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}
/*Roteiros*/
.rotas div{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.rotas{
    margin: 10px 0 10px 0;
}
.rotas img{
    border-radius: 30px;
}
.rotas div p{
    font-size: 5vw;
}
section div a{
    font-size: 5vw;
    color: rgba(63, 196, 214, 0.76);
}
/*Pacotes*/
.conteudo{
    text-align: center;
}
.conteudo p{
    padding-bottom: 10px;
}
.conteudo h3{
    color: rgba(35, 187, 35, 0.767);
    font-size: 5vw;
}
section div img{
    width: 100%;
    border-radius: 30px;
}
/*Contato*/
input{
    border: 1px solid black;
    width: 50%;
}
#enviar{
    margin-left: 40px;
}
textarea{
    width: 50%;
    margin-left: 40px;
}
.informa{
    font-size: 22px;
}
#indetify{
    margin: auto;
    width: 60%;
}
#info{
    width: 60%;
    margin: auto;
}
#info h3{
    font-size: 22px;
}
/*Rodapé*/
#rodape{
    display: grid;
    grid-template-columns: 34% 33% 24% ;
    text-align: center;
    margin-left: 20px;
}
footer h4{
    text-align: center;
}
@media only screen and (min-width:800px){
    h2{
        font-size: 5vw;
    }
    /*Cabeçalho*/
    header{
        display: grid;
        gap: 10px;
        grid-template-columns: 80px auto 120px;
        width: 100%;
        position: fixed;
    }
    /*Barra de menu*/
    nav{
        grid-template-columns: auto;
        background-color: white;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        justify-content: start;
        text-align: center;
        position: fixed;
        margin-top: 104px;
    }
    nav div a{
        font-size: 1.8vw;
    }
    /*Menu*/
    #banner{
        width: 100%;
        margin-top: 110px;
        margin-left: 30px;
    }
    #home{
        margin-bottom: 15px;
    }
    #home h2{
        margin-top: 0;
    }
    section h2{
        margin-top: 160px;
        margin-left: 15px;
    }
    .destaque-descricao h2{
        font-size: 3vw;
        color: rgba(151, 250, 2, 0.808);
        
    }
    .destaque-descricao p{
        font-size: 2.5vw;
    }
    .destaque-descricao{
        margin-top: 20px;
        margin-right: 10px;
        text-align: left;
    }
    .destaque{
        border: 1px solid rgba(151, 250, 2, 0.808);
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 30px;
        margin-top: 15px;
    }
    .destaque-imagem img{
        box-shadow: 5px 30px 15px black;
        border-radius: 30px;
        width: 90%;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 40px;
    }
    /*Roteiros*/
    section h2{
        font-size: 4vw;
        margin-top: 110px;
        margin-left: 25px;
        display: grid;
        grid-column: 1 / 4;
    }
    .rota{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .rotas{
        margin-left: 15px;
        margin-right: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .rotas div{
        display: grid;
        grid-template-columns: auto auto;
    }
    .rotas div p{
        font-size: 2vw;
        margin-left: 10px;
    }
    section div a{
        font-size: 2.1vw;
    }
    /*Pacotes*/
    .promo{
        display: grid;
        grid-template-columns: 32% 60%;
        gap: 6%;
        text-align: center;
        margin-top: 20px;
        margin-left: 15px;
        border: 1px solid rgba(151, 250, 2, 0.808);
    }
    .conteudo h3{
        color: rgba(151, 250, 2, 0.808);
        font-size: 3.5vw;
        margin-top: 25px;
    }
    .conteudo p{
        font-size: 1.7vw;
        margin-top: 25px;
    }
    .ImPacote img{
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left: 20px;
    }
    #pacotes{
        margin-bottom: 15px;
    }
    /*Contato*/
    #contato{
        display: grid;
        grid-template-columns: 60% 35% ;
    }
    #indetify{
        margin:0;
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 0;
        width: 100%;
    }
    #indetify form{
        display: grid;
        grid-template-rows: 35px 35px 35px 200px 20px;
        gap: 10px;
    }
    textarea{
        margin-bottom: 10px;
    }
    #info{
        margin: 0;
        margin-top: 120px;
        width: 100%;
    }
    #indetify h3{
        font-size: 2vw;
    }
    #info h3{
        margin-top: 15px;
        font-size: 2vw;
    }
    #info p{
        font-size: 1.5vw;
    }
    /*Rodapé*/
    #rodape{
        margin-top: 15px;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 30px;
        margin-bottom: 15px;
    }
    footer h4{
        margin-top: 20px;
        font-size: 2vw;
    }
}